<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tax_Calculator_SE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75C864A41F12CF7400661E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75C864B81F12CF7400661E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75C864C31F12CF7400661E82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
